ipykernel
pandas
numpy<2
flask
python-dotenv
transformers
torch
torchvision
torchaudio
--extra-index-url https://download.pytorch.org/whl/cu126
scikit-learn
langchain
langchain-community
langchain-core
keras<3
sentence-transformers
faiss-cpu>=1.7.4
together